@import "../../../settings/config.less";

body {
  background: #f2f2f2;
  height: 100%;
  position: relative;
  // Header
}
.famousTitle {
  background: @famousTitle;
  color: @famousTitleColor;
}

.famousContent {
  padding: 0 16px;
}

.famousName {
  width: 100%;
  height: 100px;
  line-height: 100px;
}

h2,
h3 {
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  padding: 5px;
  padding-left: 16px;
}
.provice{
  width: 100%;
  text-align: center;
  margin: 10px 0 !important;
}

.famousSkill {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-list-item {
  padding: 0 !important;
}

.list-card {
  width: 100%;
}
.ant-card-meta{
  display: flex;
  align-items: center;
  margin-bottom: 15px !important;
}

// FamousFortuneTellerMonth
.monthFamous{
  box-sizing: border-box;
}
.famous .ant-card-body{
  padding-top: 0 !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-bottom: 24px !important;
}
// Search Trends
.searchTrends .ant-card-body{
  padding: 0 !important;
  padding-top: 15px !important;
  text-align: center;
  .ant-card-meta-detail{
    width: 100%;
  }
}
.searchLeft{
  text-align: center;
  padding-top: 10px;
  h4{
    margin: 0;
    padding-top: 5px;
  }
}
.searchRight{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
// ListFortuneTeller
.listLocation{
  padding-top: 10px;
  h2{
   
    padding: 0;
  }
}
// .fortunLocation{
//  text-align: justify;
//  padding-left: 175px;
//  padding-top: 3px;
//  padding-bottom: 3px;
// }

//News Hot
.searchTrends{
  h3{
    padding: 0;
  }
  .subContentNew{
    border-left: 2px solid #e8e8e8;
   height: 203.5px;
   overflow-y: scroll !important;
  }
}
.listNew{
  padding-left: 10px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  display: flex !important;
  align-items: center !important;
  h4{
    padding-left: 10px;
  }
}
.contentNew{
  h3{
    padding: 12px 24px;
    border-bottom: 1px solid #e8e8e8;
    border-left: 2px solid #e8e8e8;
  }
}
.contentNewRight{
  height: 252.5px;
  overflow-y: scroll !important;

}
// style srcollbar contentRight
.contentNewRight::-webkit-scrollbar{
  width: 12px;
  background-color: #F5F5F5;
}
.contentNewRight::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f4f4f4;
}
.contentNewRight::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
// style srcollbar contentLeft
.subContentNew::-webkit-scrollbar{
  width: 12px;
  background-color: #F5F5F5;
}
.subContentNew::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f4f4f4;
}
.subContentNew::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}