.ratePercent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rateProgress{
    .ant-progress-inner{
        background-color: #B4BABF;
    }
    .ant-progress-bg{
        // height: 15px !important;
    }
    // .ant-rate
    // .ant-rate-star-first, .ant-rate-star-second {
    //     color: #D8DFE6;
    // }
}
.rate5star{
    color: #d0011b;
}
.rate1star{
    color: #000;
}
.ant-rate-star-zero{
    .ant-rate-star-second{
        color: #B2B8BD;
    }
}