@import "../../../settings/config.less";
//HEADER
.search{
    display: flex;
    align-items: center;
}
.ant-input{
    background:@herder-input-search-background;
}
.ant-input-search-button{
    
}
.headerMenu{
    background: #ff0000;
    border: none;
    color: #fff;
}
.notification{
    display: flex;
    justify-content: space-between;
}
.subheader{
    line-height: 0;
}

.ant-layout-footer{
   padding: 25px 0 0;
    .rowFooter{
        padding: 10px;
        text-align: justify;
    }
    .footer{
        height: 100%;
        align-items: flex-end;
        background: #232f3e;
        color: #fff;
    }
    h3{
        color: #fff;
    }
}