@import "../../../settings/config.less";
//HEADER
.search {
  display: flex;
  align-items: center;
}
.ant-input {
  background: @herder-input-search-background;
}
.ant-input-search-button {
}
.headerMenu {
  background: #ff0000;
  border: none;
  color: #fff;
}
.notification {
  display: flex;
  justify-content: space-between;
}
.subheader {
  line-height: 0;
}

.ant-layout-footer {
  padding: 25px 0 0;
  .rowFooter {
    padding: 10px;
    text-align: justify;
  }
  .footer {
    height: 100%;
    align-items: flex-end;
    background: #232f3e;
    color: #fff;
  }
  h3 {
    color: #fff;
  }
}
//Modal
.loginFacebook {
  background: #13227a;
  color: #fff;
  width: 100%;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .anticon{
      font-size: 20px;
      margin-right: 5px;
    }
  }
}

.loginFacebook:hover {
  background: #13227a;
  color: #fff;
  border-color: #13227a;
}

.loginGoogle {
  background: #d81e06;
  color: #fff;
  width: 100%;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .anticon{
      font-size: 28px;
      margin-right: 5px;
    }
  }
}

.loginGoogle:hover {
  background: #d81e06;
  color: #fff;
  border-color: #d81e06;
}
